extends ../layout

block append script

block content
	.row
		.col-sm-12
			h1= list.name
			table(class="table")
				tbody
					tr
						td
							span Name:
						td= list.name
					tr
						td
							span Type:
						td= list.type
					tr
						td
							span Notes:
						td= list.notes
					tr
						td
							span Owner:
						td= list.owner.name
					tr
						td
							span Members:
						td
							ul
								each member in list.members
									li= member.name
					tr
						td
							span Join key:
						td= list.joinId
